
@font-title: 'Montserrat', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
@font-content: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;


@color-primary:#ffffff;
@color-secondary:#212529;
@color-tertiary:#c9de96;
