
@font-title: 'Montserrat', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
@font-content: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;


@color-primary:#ffffff;
@color-secondary:#212529;
@color-tertiary:#c9de96;


*{
    -webkit-transition:all 0.15s linear;
    transition:all 0.15s linear;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: @font-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-title;
  color:#666;
}

a {
  color: @color-tertiary;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: @color-tertiary;
}

section {
  padding: 8rem 0;
}

footer{
    padding:2rem 0;
}

@media (max-width: 1280px){
    header {
        padding:0!important;
    }
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: @color-tertiary;
}

.bg-light {
    background-color: @color-primary;
}

.bg-primary {
    background-color: @color-primary;
}

.bg-dark {
    background-color: @color-secondary;
}

.text-primary {
  color: @color-tertiary!important;
}


::-moz-selection {
  color: @color-primary;
  background: @color-secondary;
  text-shadow: none;
}

::selection {
  color: @color-primary;
  background: @color-secondary;
  text-shadow: none;
}

img::selection {
  color: @color-primary;
  background: transparent;
}

img::-moz-selection {
  color: @color-primary;
  background: transparent;
}


.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: @font-content;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary{
    border-radius:0;
    background:none;
    border:1px solid #666;
    color:#666;
    &:hover, &:focus, &:active{
        background:none;
        border:1px solid @color-tertiary;
        color:@color-tertiary;
    }
}

.btn-light{
    margin-top:32px;
    color:@color-secondary;
}

.btn-cta{
    color:#fff;
    background:#212529;
    margin-top:32px;
    &:hover, &:focus, &:active{
        color:#c9de96;
        outline:none!important;
        border:none!important;
        box-shadow:none;
    }
}

.o-list{
    display: flex;
    align-items: center;
    text-align:left;
    .o-list-index{
        padding-left: 4px;
        width:50px;
        height:50px;
        display: flex;
        justify-content: center!important;
        align-items: center!important;
        font-weight:700!important;
        font-size:2em;
        letter-spacing: 4px;
        border:3px solid @color-tertiary;
        border-radius:50%;
        margin:16px 8px;
        color:@color-primary;
        background:none;
    }
}

.team-grid{
    padding:0 0 0 0!important;
}

.team-member {
  margin-bottom: 34px;
  padding-bottom:16px;
  text-align: center;
  img {
    width: 180px;
    height: 180px;
    border: 2px solid @color-primary;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: @font-title;
    font-size:1rem;
    font-weight:600!important;
    color:#666;
  }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: @color-primary;
    border-radius: 100%;
    outline: none;
    background-color: @color-secondary;
  }
}

.flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
    & > div{
        margin-left:16px;
        margin-right:16px;
    }
    & > div img{
        height: 60px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);

        transition:all 0.15s linear;
    }
     & > div img:hover{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }
}

@media (max-width: 992px){
    #support .row > div{
        text-align:center!important;
    }
    .logo-container img{
        width:350px;
    }
    .o-list:nth-of-type(2){
        justify-content:center;
    }
    .o-list:nth-of-type(3){
        float:right;
        &:after{
            content:'';
            display:block!important;
            clear:both!important;
        }
    }
    .o-list:nth-of-type(4){
        display: block;
        clear:both!important;
        text-align:right;
    }
}




.copyright-logo{
    width:180px;
}


section {
    color:@color-secondary!important;
}

#support{
    background:@color-secondary!important;
    color:#fff!important;
    .section-heading{
        color:#fff!important;
    }
}
#logo-showcase{
    padding:4rem 0;
    border-top:1px solid #ddd!important;
    border-bottom:1px solid #ddd!important;
    background:@color-secondary!important;
}

.section-heading{
    margin-top: 0;
    color:#666;
    font-family: @font-title;
    font-weight:600!important;
    letter-spacing: 4px;
    text-transform: uppercase;
}


.brand-logo-s{
    max-height: 30px
}

ol > li {
    margin-top:16px;
    margin-bottom:16px;
}
#services{
    padding:0 0 8rem 0;
}
.service-box {
  max-width: 400px;

  h3{
      font-family: @font-title;
      font-weight:500;
      text-transform: uppercase;
      font-size:.95rem;
      color:@color-secondary;
      color:#666;
  }
  i{
      color:@color-tertiary;
  }
}

.pp-link{
  font-size:.8em;
  font-weight:600;
  cursor: pointer;
  display:block;
  margin-top:8px;
}
