
.modal{
    color:#666;
    h5{
        font-weight:600!important;
        text-transform: uppercase;
        color:#212529;
        font-size:18px;
    }
    h6{
        font-weight:600!important;
        text-transform: uppercase;
        color:#212529;
    }
    section{
        padding:0;
        margin-bottom:32px;
    }
    p,ul,li{
        font-size:14px;
    }
}

.modal-footer button {
    margin:auto;
}
.modal-desc{
    display:block!important;
    font-size:14px;
}
.modal-body{
    padding:32px;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 920px;
        margin: 1.75rem auto;
    }
}
